.card {
	word-wrap: break-word;
}

.system-card {
	align-content: center;
	align-items: center;
	/*grey blue color for the shadow*/
	box-shadow: 3px 3px 10px #9197AE;
	height: auto;
	padding:20px;
	padding-top:5px;
	/*width: 95%;/**/
	text-align: center;
	margin:auto;
	margin-top:20px;
	position:relative;
	text-align:left;
  	overflow:auto;
}