.data-card-header {
	color: white;
	display: inline-block;
	position: relative;
	background-color: #3054B1;
	width: 100%;
	text-align: center;
	font-family: Arial;
	border-bottom: solid 2px #333745;
	cursor: pointer;
	user-select: none;
}

.hidden {
	display: none;
}

.data-card-header:hover {
	text-decoration: underline;
}

.data-card-header h5 {
	margin: auto;
	margin-top: 9px;
	margin-bottom: 6px;
}

.data-card {
	position: relative;
	display: inline-block;
	margin: auto;
	max-width: 400px;
	width: 80%;
	height: 500px;
	background-color: #F5F5F5;
	border: solid 2px #333745;
	margin-left: 20px;
	margin-right: 20px;
	overflow: hidden;
}

.data-card-footer, .data-card-panel, .data-card-accordian {
	border: none;
	border-bottom: solid 2px #333745;
	background-color: #DFDFDF;
	cursor: pointer;
	font-family: 'Roboto';
	font-size: 17px;
	padding-top: 6px;
	padding-bottom: 6px;
	text-align: left;
	transition: background-color .3s;
	width: 100%;
}

.data-card-accordian:focus {
	outline: none;
}

.data-card-accordian:hover {
	background-color: #B7B7B7;
}

.data-card-accordian::before {
	content: "keyboard_arrow_right";
	font-family: "Material Icons";
	font-size: 10pt
}

.data-card-accordian.active::before {
	content: "keyboard_arrow_down";
	font-family: "Material Icons";
	font-size: 10pt;
}

.data-card-desc {
	font-weight: bold;
	font-size: 90%;
}

.data-card-panel {
	cursor: auto;
	margin-left: 5%;
	padding: 0;
	width: auto;
	border-left: solid 2px #333745;
	border-bottom: none;
	transition: max-height .5s;
}

.data-card-bottom-border {
	border-bottom: solid 2px #333745;
}

.data-card-panel-section {
	padding: 6px;
}

.data-card-panel-section+.data-card-panel-section {
	border-top: solid 2px #333745;
}

.data-card-section+.data-card-section>.data-card-accordian {
	border-top: solid 2px #333745;
}

.data-card-section.clump-hidden+.data-card-section>.data-card-accordian {
	border-top: none;
}

.data-card-footer {
	position: absolute;
	width: 100%;
	cursor: auto;
	bottom: 0;
	border-bottom: none;
	padding-left: 4px;
	padding-right: -4px;
	border-top: solid 2px #333745;
}

.data-card-remove {
	position: absolute;
	left: 3px;
	top: 3px;
	cursor: pointer;
}

.data-card-value-main {
	color: #D00000;
	font-family: monospace;
}

.data-card-value-sub {
	color: #435385;
	font-family: monospace;
}

.data-card-value-footer {
	color: #EEA007;
	font-family: monospace;
}